In [66]:
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_csv('../Data/churn_clean.csv')

In [67]:
target_for_analysis = 'Churn'

In [68]:
import seaborn as sns
import matplotlib.pyplot as plt

columns = {'Population','Children','Age','Income','Churn','Outage_sec_perweek' ,'Email','Contacts','Yearly_equip_failure','Techie','Contract',
            'Port_modem','Tablet','Phone','Multiple','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling',
            'PaymentMethod','MonthlyCharge','Bandwidth_GB_Year','Item1','Item2','Item3','Item4','Item5','Item6','Item7','Item8'}


yes_no_columns = ['Techie', 'Contract', 'Port_modem', 'Tablet', 'Phone', 'Multiple', 'OnlineSecurity', 
                  'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',
                  'PaymentMethod', 'Churn', 'Contract', 'Techie']
categorical_columns = ['Marital', 'Gender', 'Area', 'InternetService', 'Port_']

columns_to_drop = ['CaseOrder', 'Customer_id', 'Interaction', 'UID', 'City', 'State', 'County', 'TimeZone', 'Job', 'Zip']

categoricals = yes_no_columns + categorical_columns


df = df.drop(columns=columns_to_drop, axis=1)

df = pd.get_dummies(df, drop_first=True)

target_for_analysis = "Churn_Yes"

# Repopulate feature list with 1 Hot column names
features = list(df.columns)

# Drop columns that have values that won't convert
df = df.dropna(axis=1)

# Remove the target value from the possible feature lise
features.remove(target_for_analysis)

# Create Exog and Endog data frames
X = df.drop(target_for_analysis, axis=1)
y = df[target_for_analysis]

In [69]:
df.to_csv('./prepared_data.csv', index=False)

In [70]:
X.head()

,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Tenure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Area_Suburban,Area_Urban,Marital_Married,Marital_Never Married,Marital_Separated,Marital_Widowed,Gender_Male,Gender_Nonbinary,Techie_Yes,Contract_One year,Contract_Two Year,Port_modem_Yes,Tablet_Yes,InternetService_Fiber Optic,Phone_Yes,Multiple_Yes,OnlineSecurity_Yes,OnlineBackup_Yes,DeviceProtection_Yes,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,PaperlessBilling_Yes,PaymentMethod_Credit Card (automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4,False,True,False,False,False,True,True,False,False,True,False,True,True,True,True,False,True,True,False,False,False,True,True,True,False,False
1,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4,False,True,True,False,False,False,False,False,True,False,False,False,True,True,True,True,True,False,False,False,True,True,True,False,False,False
2,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3,False,True,False,False,False,True,False,False,True,False,True,True,False,False,True,True,False,False,False,False,False,True,True,True,False,False
3,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3,True,False,True,False,False,False,True,False,True,False,True,False,False,False,True,False,True,False,False,False,True,False,True,False,False,True
4,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5,True,False,False,False,True,False,True,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True

In [71]:
y.describe()

count     10000
unique        2
top       False
freq       7350
Name: Churn_Yes, dtype: object

In [72]:
X['PaperlessBilling_Yes'].describe()

count     10000
unique        2
top        True
freq       5882
Name: PaperlessBilling_Yes, dtype: object

In [74]:

import matplotlib.pyplot as plt
column_count = 3
fig, axis = plt.subplots(len(X.columns) // column_count, column_count, figsize=(20, 20))
i = 0
len_axis = len(axis)
for triaxis in axis:
    for sub_axis in triaxis:
            index = X.columns[i].find("_")
            substring = X.columns[i][:index]
            plt.subplots_adjust(hspace=0.9)
            if index >= 0 and substring in categoricals:
                sns.countplot(data=df, ax=sub_axis, x=X.columns[i])
            else: 
                sns.boxplot(data = df, ax=sub_axis, x=X.columns[i])
            i = i+1
plt.show()

In [ ]:
X.boxplot(figsize=(140,40))

In [ ]:
X.hist(figsize=(40,40))
plt.show()

In [ ]:
import matplotlib.pyplot as plt
column_count = 3
fig, axis = plt.subplots(len(categoricals) // column_count, column_count, figsize=(20, 20))
i = 0
len_axis = len(axis)
for triaxis in axis:
    for sub_axis in triaxis:
            plt.subplots_adjust(wspace=0.5, hspace=0.75)
            sns.countplot(data = df, y=df[target_for_analysis], ax=sub_axis, hue=categoricals[i], gap=0.75).set(title=categoricals[i])
            i = i+1
plt.show()

In [ ]:
import matplotlib.pyplot as plt
column_count = 3
fig, axis = plt.subplots(len(columns) // column_count, column_count, figsize=(20, 20))
i = 0
len_axis = len(axis)
for triaxis in axis:
    for sub_axis in triaxis:
            if list(columns)[i] not in categorical_columns:
                sns.histplot(data=df, multiple="dodge", x=list(columns)[i], hue=target_for_analysis, ax=sub_axis)
                i = i+1
plt.show()

In [ ]:
import statsmodels.api as sm

endog= df[target_for_analysis]
exog = df[list(columns)]

model = sm.Logit(endog, exog)
result = model.fit()

result.summary()

## Reduce the features by P-Value

In [ ]:
p_values = result.pvalues.copy()
p_values.sort_values(ascending=False, inplace=True)

In [ ]:
print(p_values.iloc[0], p_values.keys()[0])

In [ ]:
alpha = 0.05

while (p_values.iloc[0] > alpha):
    columns.remove(p_values.keys()[0])
    endog= df[target_for_analysis]
    exog = df[list(columns)]
    model = sm.Logit(endog, exog)
    result = model.fit()
    p_values = result.pvalues.sort_values(ascending=False)

result.summary()

In [ ]:
print(*columns)

In [ ]:
from sklearn.metrics import confusion_matrix

# Split the data into features and target
X = df[list(columns)]
y = df[target_for_analysis]

# Make predictions on the data
y_pred = result.predict(X)


y_pred_rounded = [round(x) for x in y_pred]

In [ ]:

# Create the confusion matrix
cm = confusion_matrix(y, y_pred_rounded)

# Print the confusion matrix
print(cm)

In [ ]:
from sklearn.metrics import accuracy_score

score =accuracy_score(y,y_pred_rounded)
print(f"Accuracy Score: {score}")

In [ ]:
print(result.params.sort_values(ascending=True))